<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Drive Download</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url('index.css') }}" />
    </head>
    <body>
        <div>
            <button id="download-button">download</button>
        </div>
        <button id="do-cache-button">do_cache</button>
        <button id="sync-button">sync</button>
        <div>
            <input type="text" placeholder="search" id="search-input" />
            <button id="search-button">search</button>
            <div id="search-result"></div>
        </div>
        <div id="log-watcher"></div>

        <script defer src="{{ static_url('index.js') }}"></script>
    </body>
</html>
